* {
  background-color: #1f2937;
}

#header {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 75%;
  margin: auto;
}

#header-logo {
  font-size: 24px;
  color: #f9faf8;
  margin-right: auto;
}

.header-item {
  margin: 8px;
}

.header-link {
  font-size: 18px;
  color: #e5e7eb;
}

.main-section {
  box-sizing: border-box;
  height: 300px;
  width: 95%;
  margin: auto;
}

#hero-text-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

#hero-main-text {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
}

#hero-secondary-text {
  font-size: 18px;
  color: #e5e7eb;
}

.sign-up-button {
  box-sizing: border-box;
  font-size: 18px;
  /*padding: 10px;*/
  width: 120px;
  height: 50px;
  color: #f9faf8;
  background-color: #3882f6;
  border-radius: 10px;
  border: none;
}

#information-section {
  background-color: #f9faf8;
}

#inspiring-quote-section {
  background-color: #e5e7eb;
}

#call-to-action-section {
  background-color: #f9faf8;
}

#footer {
}
